.outerContainer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.innerContainer {
    margin-top: 80px;
}

#dropdownButton {
    width: 150px;
    margin-right: 100px;
    float: left;
}

.scrollable-menu {
    height: auto;
    max-height: 240px;
    overflow-x: hidden;
    float: left;
}

.tableContainer {
    margin-top: 40px;
}

.table {
    margin-top: 20px;
    max-width: 300px;
}